body,
html {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  background-color: #252121;
  width: 100%;
  zoom: 112%;
  user-zoom: fixed;
  /* Set the transform origin to the top left corner */
}